h1{
    color: red;
    text-align: center;
}

h2{
    color: blue;

}

body{
    font-size: 25px;
    background-color: #E0FFFF;
    margin: 10px;
    padding: 10px;
    border: solid color blue;
}

img{
    width: 30%;
    display: block;
    margin: auto;
    
}

iframe{
    display: block;
    margin: auto;
    width: 30%;
}