h1{
    color: red;
    text-align: center;
}

h2{
    color: blue;

}

body{
    font-size: 25px;
    background-color: #E0FFFF;
}

img{
    width: 50%;
    display: block;
    margin: auto;
    height: 205;
}