h1{
    color: #00008B;
    text-align: center;
}

h2{
    color: #00BFFF

    ;

}

body{
    font-size: 25px;
    background-color: #E0FFFF;
    margin: 10px;
    padding: 10px;
    border: solid 3px #00008B;
}

img{
    width: 30%;
    display: block;
    margin: auto;
    
}

iframe{
    display: block;
    margin: auto;
    width: 30%;
}